:root {
  --grid-total-columns: 12; 
  --grid-gutter-width: 1.5rem;   
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --block-0-cols: 1;  
  --block-1-cols: 3;  
  --block-2-cols: 6;  
  --block-3-cols: 9;  
  --block-4-cols: 12; 
}

[data-musgo-container] {
  width: 100%;
  padding-right: calc(var(--grid-gutter-width) / 2);
  padding-left: calc(var(--grid-gutter-width) / 2);
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

@media (min-width: var(--breakpoint-sm)) {
  [data-musgo-container]:not([data-musgo-container="fluid"]) { max-width: 540px; }
}
@media (min-width: var(--breakpoint-md)) {
  [data-musgo-container]:not([data-musgo-container="fluid"]) { max-width: 720px; }
}
@media (min-width: var(--breakpoint-lg)) {
  [data-musgo-container]:not([data-musgo-container="fluid"]) { max-width: 960px; }
}
@media (min-width: var(--breakpoint-xl)) {
  [data-musgo-container]:not([data-musgo-container="fluid"]) { max-width: 1140px; }
}

[data-musgo-container="fluid"] {
  
  max-width: 100%;
}

[data-musgo-row] {
  display: flex;
  flex-wrap: wrap;
  
  margin-right: calc(-1 * var(--grid-gutter-width) / 2);
  margin-left: calc(-1 * var(--grid-gutter-width) / 2);
  box-sizing: border-box;
}


[data-musgo-row][data-musgo-gutters="none"] {
  margin-right: 0;
  margin-left: 0;
}

[data-musgo-row][data-musgo-gutters="none"] > [data-musgo-block],
[data-musgo-row][data-musgo-gutters="none"] > [data-musgo-block-sm],
[data-musgo-row][data-musgo-gutters="none"] > [data-musgo-block-md],
[data-musgo-row][data-musgo-gutters="none"] > [data-musgo-block-lg],
[data-musgo-row][data-musgo-gutters="none"] > [data-musgo-block-xl] {
  padding-right: 0;
  padding-left: 0;
}

[data-musgo-block],
[data-musgo-block-sm],
[data-musgo-block-md],
[data-musgo-block-lg],
[data-musgo-block-xl] {
  position: relative;
  width: 100%; 
  padding-right: calc(var(--grid-gutter-width) / 2);
  padding-left: calc(var(--grid-gutter-width) / 2);
  box-sizing: border-box;
  flex-basis: 100%;
}

[data-musgo-block="0"] { flex: 0 0 calc(var(--block-0-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-0-cols) / var(--grid-total-columns) * 100%); }
[data-musgo-block="1"] { flex: 0 0 calc(var(--block-1-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-1-cols) / var(--grid-total-columns) * 100%); }
[data-musgo-block="2"] { flex: 0 0 calc(var(--block-2-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-2-cols) / var(--grid-total-columns) * 100%); }
[data-musgo-block="3"] { flex: 0 0 calc(var(--block-3-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-3-cols) / var(--grid-total-columns) * 100%); }
[data-musgo-block="4"] { flex: 0 0 calc(var(--block-4-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-4-cols) / var(--grid-total-columns) * 100%); }

[data-musgo-block=""] {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

@media (min-width: var(--breakpoint-sm)) {
  [data-musgo-block-sm="0"] { flex: 0 0 calc(var(--block-0-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-0-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-sm="1"] { flex: 0 0 calc(var(--block-1-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-1-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-sm="2"] { flex: 0 0 calc(var(--block-2-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-2-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-sm="3"] { flex: 0 0 calc(var(--block-3-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-3-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-sm="4"] { flex: 0 0 calc(var(--block-4-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-4-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-sm=""] { flex-basis: 0; flex-grow: 1; max-width: 100%; }
}

@media (min-width: var(--breakpoint-md)) {
  [data-musgo-block-md="0"] { flex: 0 0 calc(var(--block-0-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-0-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-md="1"] { flex: 0 0 calc(var(--block-1-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-1-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-md="2"] { flex: 0 0 calc(var(--block-2-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-2-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-md="3"] { flex: 0 0 calc(var(--block-3-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-3-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-md="4"] { flex: 0 0 calc(var(--block-4-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-4-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-md=""] { flex-basis: 0; flex-grow: 1; max-width: 100%; }
}


@media (min-width: var(--breakpoint-lg)) {
  [data-musgo-block-lg="0"] { flex: 0 0 calc(var(--block-0-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-0-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-lg="1"] { flex: 0 0 calc(var(--block-1-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-1-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-lg="2"] { flex: 0 0 calc(var(--block-2-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-2-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-lg="3"] { flex: 0 0 calc(var(--block-3-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-3-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-lg="4"] { flex: 0 0 calc(var(--block-4-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-4-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-lg=""] { flex-basis: 0; flex-grow: 1; max-width: 100%; }
}


@media (min-width: var(--breakpoint-xl)) {
  [data-musgo-block-xl="0"] { flex: 0 0 calc(var(--block-0-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-0-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-xl="1"] { flex: 0 0 calc(var(--block-1-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-1-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-xl="2"] { flex: 0 0 calc(var(--block-2-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-2-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-xl="3"] { flex: 0 0 calc(var(--block-3-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-3-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-xl="4"] { flex: 0 0 calc(var(--block-4-cols) / var(--grid-total-columns) * 100%); max-width: calc(var(--block-4-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-block-xl=""] { flex-basis: 0; flex-grow: 1; max-width: 100%; }
}


[data-musgo-row][data-musgo-align-items="start"]    { align-items: flex-start; }
[data-musgo-row][data-musgo-align-items="center"]   { align-items: center; }
[data-musgo-row][data-musgo-align-items="end"]      { align-items: flex-end; }
[data-musgo-row][data-musgo-align-items="stretch"]  { align-items: stretch; } 
[data-musgo-row][data-musgo-align-items="baseline"] { align-items: baseline; }
[data-musgo-row][data-musgo-justify-content="start"]   { justify-content: flex-start; } 
[data-musgo-row][data-musgo-justify-content="center"]  { justify-content: center; }
[data-musgo-row][data-musgo-justify-content="end"]     { justify-content: flex-end; }
[data-musgo-row][data-musgo-justify-content="around"]  { justify-content: space-around; }
[data-musgo-row][data-musgo-justify-content="between"] { justify-content: space-between; }


[data-musgo-align-self="start"]    { align-self: flex-start !important; } 
[data-musgo-align-self="center"]   { align-self: center !important; }
[data-musgo-align-self="end"]      { align-self: flex-end !important; }
[data-musgo-align-self="stretch"]  { align-self: stretch !important; }
[data-musgo-align-self="baseline"] { align-self: baseline !important; }
[data-musgo-offset="1"] { margin-left: calc(var(--block-1-cols) / var(--grid-total-columns) * 100%); } 
[data-musgo-offset="2"] { margin-left: calc(var(--block-2-cols) / var(--grid-total-columns) * 100%); } 

@media (min-width: var(--breakpoint-sm)) {
  [data-musgo-offset-sm="0"] { margin-left: 0; }
  [data-musgo-offset-sm="1"] { margin-left: calc(var(--block-1-cols) / var(--grid-total-columns) * 100%); }
  [data-musgo-offset-sm="2"] { margin-left: calc(var(--block-2-cols) / var(--grid-total-columns) * 100%); }
}

[data-musgo-order="first"] { order: -1; }
[data-musgo-order="last"] { order: calc(var(--grid-total-columns) + 1); }
[data-musgo-order="0"] { order: 0; }