:root {
  --musgo-primary-color: #11AB00;
  --musgo-primary-hover-color: #0e8e00;
  --musgo-primary-text-color: #ffffff;
  --musgo-text-color: #053300;
  --musgo-blockquote-text-color: #042900;
  --musgo-code-text-color: #053300;
  --musgo-legend-text-color: #042900;
  --musgo-bg-color: #ffffff;
  --musgo-secondary-bg-color: #e6f7e5;
  --musgo-tertiary-bg-color: #d9f0d7;
  --musgo-border-color: #a4c7a0;
  --musgo-strong-border-color: #82b37d;
  --musgo-pre-border-color: var(--musgo-border-color);
  --musgo-blockquote-border-color: var(--musgo-border-color);
  --musgo-table-border-color: var(--musgo-border-color);
  --musgo-details-border-color: var(--musgo-border-color);
  --musgo-link-color: var(--musgo-primary-color);
  --musgo-link-hover-color: var(--musgo-primary-hover-color);
  --musgo-form-bg-color: var(--musgo-bg-color);
  --musgo-form-text-color: var(--musgo-text-color);
  --musgo-form-border-color: #053300;
  --musgo-form-focus-border-color: var(--musgo-primary-color);
  --musgo-primary-color-alpha: rgba(17, 171, 0, 0.25);
  --musgo-form-disabled-bg-color: #e9ecef;
  --musgo-form-disabled-text-color: #6c757d;
  --musgo-form-disabled-border-color: #ced4da;
  --musgo-button-bg-color: var(--musgo-primary-color);
  --musgo-button-text-color: var(--musgo-primary-text-color);
  --musgo-button-border-color: var(--musgo-primary-color);
  --musgo-button-hover-bg-color: var(--musgo-primary-hover-color);
  --musgo-button-hover-border-color: var(--musgo-primary-hover-color);
  --musgo-button-outline-text-color: var(--musgo-primary-color);
  --musgo-button-outline-border-color: var(--musgo-primary-color);
  --musgo-button-outline-hover-bg-color: var(--musgo-primary-color);
  --musgo-button-outline-hover-text-color: var(--musgo-primary-text-color);
  --musgo-table-header-bg-color: var(--musgo-secondary-bg-color);
  --musgo-table-even-row-bg-color: var(--musgo-secondary-bg-color);
  --musgo-invalid-border-color: #dc3545;
  --musgo-invalid-bg-color: #f8d7da;
  --musgo-invalid-text-color: #721c24;
  --musgo-invalid-border-color-alpha: rgba(220, 53, 69, 0.25);
}
