[data-musgo-row] {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--grid-gutter-width) / 2);
  margin-left: calc(-1 * var(--grid-gutter-width) / 2);
  box-sizing: border-box;
}

[data-musgo-row][data-musgo-gutters="none"] {
  margin-right: 0;
  margin-left: 0;
}

[data-musgo-row][data-musgo-gutters="none"] > [data-musgo-block],
[data-musgo-row][data-musgo-gutters="none"] > [data-musgo-block-sm],
[data-musgo-row][data-musgo-gutters="none"] > [data-musgo-block-md],
[data-musgo-row][data-musgo-gutters="none"] > [data-musgo-block-lg],
[data-musgo-row][data-musgo-gutters="none"] > [data-musgo-block-xl] {
  padding-right: 0;
  padding-left: 0;
}
